<div class="card">
    <div class="card-header">
      <strong>Nuevo</strong>
    </div>
    <div class="card-body">
      <p class="card-text">ISBN: {{nuevoLibro.isbn}}</p>
      <p class="card-text">Título: {{nuevoLibro.titulo}}</p>
      <p class="card-text">Autor: {{nuevoLibro.autor}}</p>
      <p class="card-text">Editorial: {{nuevoLibro.editorial}}</p>
      <p class="card-text">Fecha de Publicación: {{nuevoLibro.fecPublicacion}}</p>
      <p class="card-text">Número de Ejemplares: {{nuevoLibro.numEjemplares}}</p>
    </div>
    <button type="button" class="btn btn-success" (click)="crear()">Crear</button>
  </div>