<div data-bs-spy="scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h1>Demo <small>angular</small></h1>
    <hr>
  
    <p>Hola mundo desde home.component</p>
  
    <app-ng-style></app-ng-style>
  
    <hr>
    <app-css></app-css>
  
    <hr>
    <app-ng-class></app-ng-class>
  
    <hr>
    <p [appResaltado]="'lime'">
      Hola Mundo
    </p>
  
    <hr><hr>
    <app-ng-switch></app-ng-switch>
  </div>