<h1>Ejercicio de routing - Lazyload (Módulos: auth, libros, prestamos)</h1>

<strong>Módulo: Auth</strong>
<ul>
  <li><a routerLink="/auth/auth">Auth</a></li>
  <li><a routerLink="/auth/forgot-password">Forgot-Password</a></li>
  <li><a routerLink="/auth/login">Login</a></li>
  <li><a routerLink="/auth/signup">Signup</a></li>
</ul>

<strong>Módulo: Libros</strong>
<ul>
  <li><a routerLink="/libros/admin-libros">Administrar</a></li>
  <li><a routerLink="/libros/consultar-libros">Consultar</a></li>
  <li><a routerLink="/libros/editar-libros">Editar</a></li>
  <li><a routerLink="/libros/registrar-libros">Registrar</a></li>
</ul>

<strong>Módulo: Prestamos</strong>
<ul>
  <li><a routerLink="/prestamos/devolucion">Devolución</a></li>
  <li><a routerLink="/prestamos/prestamo">Prestamo</a></li>
  <li><a routerLink="/prestamos/solicitar">Solicitar</a></li>
</ul>
<router-outlet></router-outlet>